[user]
	name = Soonil Hong
	email = s.hong.5181@gmail.com

[diff]
	tool = bc4
[difftool "bc4"]
	cmd = \"c:\\Program Files\\Beyond Compare 4\\BComp.exe\" \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = bc4
[mergetool "bc4"]
	cmd = \"c:\\Program Files\\Beyond Compare 4\\BComp.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"

[pull]
	rebase = true
